---
layout: page
title: Welcome to my Blog
---
{% include JB/setup %}

{% for post in paginator.posts %}

   <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
   <div class="date">{{post.date | date: "%A, %d %B %Y" }}</div>
   <div>
    {{ post.content }}
   </div>
   <hr>
{% endfor %}

<!-- Pagination links -->
<div id="post-pagination" class="pagination">
<table>

  {% if paginator.previous_page %}
  <p class="previous">
    {% if paginator.previous_page == 1 %}
   <tr>   
   <a href="/">Previous</a>
	</tr>
    {% else %}
	<tr>
    <a href="/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
	 </tr>
  </p>
 
  {% else %}
  
  <p class="previous disabled">
    <tr>
	<span>Previous</span>
    </tr> 
  </p>
  
  {% endif %}
     
  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
	  <tr>
      <a> class="current-page">1</a>
      </tr>
	  {% else %}
	  <tr>
      <a href="/">1</a>
	  </tr>
      {% endif %}
    </li>
</tr>
    {% for count in (2..paginator.total_pages) %}
    <li class="page">
      {% if count == paginator.page %}
	  <tr>
      <a> class="current-page">{{count}}</a>
      </tr>
	  {% else %}
	  <tr>
      <a href="/page{{count}}">{{count}}</a>
      </tr>
	  {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page %}
 
  <p class="next">
  <tr>
    <a href="/page{{paginator.next_page}}">Next</a>
  </tr>
  </p>
 
  {% else %}
 
  <p class="next disabled">
    <tr> 
    <span>Next</span>
    </tr>  
 </p>
 
  {% endif %}
</table>
</div>




