---
layout: page
title: Welcome to my Blog
---
{% include JB/setup %}

{% for post in paginator.posts %}

   <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
   <div class="date">{{post.date | date: "%A, %d %B %Y" }}</div>
   <div>
    {{ post.content }}
   </div>
   <hr>
{% endfor %}

<!-- Pagination links -->
<div id="post-pagination" class="pagination">
<table>
<tr>
  {% if paginator.previous_page %}
  <p class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="/">Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
  </p>
  </tr>
  {% else %}
  <tr>
  <p class="previous disabled">
    <span>Previous</span>
  </p>
  </tr>
  {% endif %}
<tr>
  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}
    </li>
</tr>
    {% for count in (2..paginator.total_pages) %}
    <li class="page">
      {% if count == paginator.page %}
      <tr class="current-page">{{count}}</tr>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page %}
  <tr>
  <p class="next">
    <a href="/page{{paginator.next_page}}">Next</a>
  </p>
  </tr>
  {% else %}
  <tr>
  <p class="next disabled">
    <span>Next</span>
  </p>
  </tr>
  {% endif %}
</table>
</div>




