{% if paginator.previous_page or paginator.next_page %}

<ul class="relativity">
<table>
{% if paginator.next_page %}
	<td><a href="/page{{ paginator.next_page }}/" class="prev" rel="prev">&larr; older articles</a></td>
{% endif %}
{% if paginator.previous_page and paginator.page != 2 %}
	<td align="right"><a href="/page{{ paginator.previous_page }}/" class="next" rel="next">newer articles &rarr;</a></td>
{% endif %}
{% if paginator.previous_page and paginator.page == 2 %}
	<td align="right"><a href="/" class="next" rel="next">newer articles &rarr;</a></td>
{% endif %}
</table>
</ul>

{% endif %}